.dark .prose {
    color: #e5e7eb;
}

.dark .prose strong {
    color: #e5e7eb;
}

.dark .prose code {
    color: #facc15;
}

.dark .prose a {
    color: #93c5fd;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, 0.4);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(120, 120, 120, 0.6);
}